:root{
    --verde:#00A149;
    --blanco:#fff;
    --rojo:#881014;
    --oscuro:#000;
    --titulos:'Arima',cursive;
    --parrafos:'Mulish', sans-serif;
}
/*nox sizing boerd-box y inherit hace respetar los margenes principales
RECOMENDABLE USAR PARA TOOS LOS PROYECTOS
ejem:
html
{
    box-sizing:border-box;
    font-size: 62.5%;
}
*,*::after, *::before
{
    box-sizing: inherit;
}
*/
html
{
    box-sizing:border-box;
    font-size: 62.5%;
}

body 
{
    font-size: 1.6rem;
}

*,*::after, *::before
{
    box-sizing: inherit;
}

/*padding= agregar mrgenes interiores
1 rem = a 10px que signidfica el tamaño de la letra*/

 /*flex box por defecto alinea de izquierda a derecha 
 align-items:center-- centra de manera vertical
 justify-content: space-between alinea a las esquinas 
 width = se encarga de crear un margen al rededor*/

/*GLOBALES*/
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

h1,h2
{
    font-family: var(--titulos);
}

h3, p , a
{
    font-family: var(--parrafos);
}

/*selectores del span*/
.verde{
    color: var(--verde);
}
.rojo{
    color: var(--rojo);
}

/*ocultar= para el menu hamburguesa*/
.ocultar{
    display: none;
}



/*ENCABEZADO*/
.contenido-navegacion{
    background-color: var(--oscuro);
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h2, .navegacion a
{
    color: var(--blanco);
}
.logo h2{
    font-size: 3rem;
}
.navegacion a
{
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}